<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <!-- Looking for the code behind this project? Check out https://github.com/johnnoel/reliquary -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="ceetea_">
    {% block opengraph %}
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:title" content="Reliquary Message System">
        <meta property="og:description" content="Inspired by the NieR Automata Reliquary System, choose a message to leave for others">
        <meta property="og:image" content="{{ absolute_url(asset('img/opengraph-default.png')) }}">
    {% endblock %}

    <title>{% block title %}{% endblock %}{% if block('title') is not empty %} : {% endif %}Reliquary Message System</title>
    <link rel="stylesheet" href="{{ asset('main.css') }}">
    <script async src="{{ asset('head.js') }}"></script>
    <script defer src="{{ asset('main.js') }}"></script>

    <script>
        (function(d) {
            var config = { kitId: 'eet6shc', scriptTimeout: 3000, async: true },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="{{ body_class|default('') }}">
{% block body %}{% endblock %}
</body>
</html>
