{% set body_class = 'bodyreport' %}
{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">
        <article class="bodyreport-container">
            <h1 class="bodyreport-title">Body Report</h1>
            <h2 class="bodyreport-username"><a href="https://twitter.com/{{ message.twitterHandle|e('url') }}" target="_blank" rel="nofollow noopener">{{ message.twitterHandle }}</a></h2>
            <p class="bodyreport-message">{{ message }}</p>
        </article>

        <nav>
            <div class="btnlist">
                {% if app.user is not null and app.user.id == message.twitterId %}
                    <a href="{{ path('choose-message') }}" class="btn"><i></i>Change Message</a>
                    <a href="https://twitter.com/intent/tweet?text={{ message|e('url') }}&amp;hashtags=reliquary&amp;url={{ url('body-report', { 'twitterId': message.twitterId })|e('url') }}" target="_blank" rel="nofollow noopener" class="btn btn-twitter"><i></i>Tweet Message</a>
                {% else %}
                    <a href="{{ path('choose-message') }}" class="btn"><i></i>Claim Your Own Message</a>
                {% endif %}
                <a href="{{ path('random') }}" class="btn"><i></i>Random Message</a>
            </div>
        </nav>
    </main>

    <noscript>You will need JavaScript to use the advanced features of this app</noscript>
{% endblock body %}
