{% extends 'base.html.twig' %}
{% set body_class = 'choosemessage' %}

{% block body %}
    <div id="app"></div>
    <form class="nojs-choosemessage" method="post" action="{{ path('choose-message') }}">
        <fieldset>
            <legend>{% if message is not null %}Change your message{% else %}Choose a message{% endif %}</legend>
            <select name="p1" required>
                <option value="">Please select...</option>
                {% for k, v in constant('App\\Service\\MessageService::PART_1') %}
                    <option value="{{ k }}"{% if message is not null and message.part1 == k %} selected{% endif %}>{{ v|replace({ '[Username]': app.user.username }) }}</option>
                {% endfor %}
            </select>

            <select name="p2" required>
                <option value="">Please select...</option>
                {% for k, v in constant('App\\Service\\MessageService::PART_2') %}
                    <option value="{{ k }}"{% if message is not null and message.part2 == k %} selected{% endif %}>{{ v }}</option>
                {% endfor %}
            </select>

            <select name="p3">
                <option value="">Please select...</option>
                {% for k, v in constant('App\\Service\\MessageService::PART_3') %}
                    <option value="{{ k }}"{% if message is not null and message.part3 == k %} selected{% endif %}>{{ v }}</option>
                {% endfor %}
            </select>
        </fieldset>

        <button type="submit">{% if message is not null %}Change{% else %}Choose{% endif %}</button>
    </form>
{% endblock body %}
